.logo{
    height:50px
}

body{
    background:#f3f3f3;
}

.page-title{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.2;
}

#parameters{
    background:#eea;
    width: 800px;
    margin: 0 auto;
    overflow: hidden;

}



#graphic{
    background:#eee;
    width: 800px;
    margin: 0 auto;
    overflow: hidden;

}
