<!DOCTYPE html >
<html lang = "zh-CN" >
   <head >
       <!-- Required meta tags -->
        <meta charset = "utf-8" >
        <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no" >

        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <script src="{{ url_for('static', filename='js/bootstrap3.3.7.min') }}"></script>


        <!-- use Mathjax express math equation expression-->
<!--       <script type="text/x-mathjax-config">-->
<!--          MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});-->
<!--        </script>-->
        <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>

        {% block head %} {% endblock %}

        <title> {% block title%} {% endblock %}--Drawing math Graphics </title>

    </head >
    <body >
        <nav class="navbar navbar-default">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button >
            <!--a class="navbar-brand logo" href="#">logo</a-->
              <img class= "logo" src="{{url_for('static', filename='images/pie-chart-3d.png')}}" alt="">
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Line <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{url_for('straightline')}}">Straight Line</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{url_for('curve')}}">Curve</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{url_for('testsijax')}}">Testsijax</a></li>
                    <li role="separator" class="divider"></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plane Geometry <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{url_for('cycle')}}">Cycle</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{url_for('ellipse')}}">Ellipse</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{url_for('triangle')}}">Triangle</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{url_for('square')}}">Square</a></li>
                    <li role="separator" class="divider"></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solid Geometry<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{url_for('sphere')}}">Sphere</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{url_for('cylinder')}}">Cylinder</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Cylinder2</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{url_for('cone')}}">Cone</a></li>
                    <li role="separator" class="divider"></li>
                  </ul>
                </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>

        <div class="container" id="parameters">{% block parameters%}{% endblock %}</div>

        <div class="container" id="graphic">
<!--            <samp>This text is meant to be treated as sample output from a computer program.</samp>-->
            {% block graphic%}{% endblock %}
        </div>





        <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

        <script src="{{ url_for('static', filename='js/sijax/sijax.js') }}"></script>
<!--        <script src="{{ url_for('static', filename='js/sijax/json2.js') }}"></script>-->
        <script>{{ g.sijax.get_js()|safe }}</script>

        <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    </body >
</html >
