<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}
    </script>
</head>

<body>
    <div id="messages" style="border: 1px solid #e0e0e0; margin-bottom: 20px; height: 100px; padding: 5px; overflow-y: scroll;"></div>

    <form id="messageForm" name="messageForm">
        Message: <input type="text" id="message" style="width: 400px"><br>
        <input type="text" id="message1" name="message1" style="width: 400px"><br>
        <input type="text" id="message2"  name="message2" style="width: 400px"><br>
        <input type="submit" value="Send">
        <button id="btnClear">Clear messages</button><br>
        <input type="text" id="ss"  name="ss" style="width: 400px"><br>
        <p id="ssd">sss</p>
    </form>

    <script type="text/javascript">
    i=0
    $(function() {
        $('#messageForm').bind('submit', function() {
            Sijax.request('save_message', [$('#message').attr('value')],
                { data: { csrf_token: "{{ csrf_token() }}" } });
            i+=1
            $('#message2').attr('value', i);
            $('#ss').attr('value', i);
            //alert('sss');

            var innner = $("ssd").innerHTML;
            //var innner =document.getElementById("ssd").innerHTML;
            alert(innner);
            //Prevent the form from being submitted
            return false;
        });
        $('#message').focus();
        $('#btnClear').bind('click', function() {
            Sijax.request('clear_messages', [], { data: { csrf_token: "{{ csrf_token() }}" } });
            return false;
        });
    });
    </script>
</body>
</html>