<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Flask示例</title>
</head>
   <body>

     <h2 style = "text-align: center;">联系人表单</h2>

      {% for message in form.name.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      {% for message in form.email.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      <form method = post>
         <fieldset>
            <legend>填写项</legend>

            <div style = "font-size:20px; font-weight:bold; margin-left:150px;">
               {{ form.name.label }}<br>
               {{ form.name }}
               <br>

               {{ form.Gender.label }} {{ form.Gender }}
               {{ form.Address.label }}<br>
               {{ form.Address }}
               <br>

               {{ form.email.label }}<br>
               {{ form.email }}
               <br>

               {{ form.Age.label }}<br>
               {{ form.Age }}
               <br>

               {{ form.language.label }}<br>
               {{ form.language }}
               <br>
               {{ form.submit }}
            </div>

         </fieldset>
      </form>

   </body>
</html>
