{% extends "base.html" %}
{% block head %}
    <link rel = "stylesheet" href = "{{url_for('static',filename='css/line.css')}}" >
{% endblock %}
{% block title %}Curve{% endblock %}
{% block parameters %}

    <h3 class = "page-title" > Curve </h3 >
    <p class = "equation" > <span > Equation Expression: </span > <span > \(y = ax^2 + bx + c\) </span > </p >
<!--    <p class="equation"><span > Center <strong>(a,b)</strong> </span > <span > Radius <strong>r</strong></span ></p>-->

    {% from "_formhelpers.html" import render_field %}
    <form action = "" class="form-horizontal" method="POST">
       <div class = "form-container" >
            {{ render_field(form.a) }}
            {{ render_field(form.b) }}
            {{ render_field(form.c) }}


            <div class = "form-group" >
                <div class="col-sm-offset-2 col-sm-10">
                    <button type = "submit" class = "btn btn-primary" > Drawing </button >
                </div>
            </div >
           <p class = "equation" > <span > Real Expression: </span > <span > {{expression}} </span > </p >
<!--           <div class = "form-group" >-->
<!--               <label for="expression" class="col-sm-2 control-label">Real Expression</label>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type = "text" class = "form-control" id="expression" value="{{expression}}" name = "coordinate3" readonly>-->
<!--                </div>-->
<!--            </div >-->
        </div>
    </form >

<!--    <script type="text/javascript">-->
<!--        $(function() {-->
<!--            $('label').addClass('col-sm-2 control-label');-->
<!--            $('input').addClass('form-control');-->
<!--        });-->
<!--    </script>-->

     <script src="{{ url_for('static', filename='js/addinputclass.js') }}"></script>
{% endblock %}

{% block graphic%}
    <img src="{{src}}" />
{% endblock %}
