{% extends "base.html" %}
{% block head %}<link rel="stylesheet" href="{{url_for('static',filename='css/login_register.css')}}"> {% endblock %}
{% block title %}Register{% endblock %}
{% block parameters %}

    <div class = "registerer">
        <h3 class="page-title">Register</h3>
        {% from "_formhelpers.html" import render_field %}
        <form  method="POST">
            <div class="form-container">
                {{ render_field(form.username) }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
                {{ render_field(form.accept_tos) }}
                <div class = "form-group" >
                    <div class="col-sm-offset-4 col-sm-8">
<!--                        <input class = "btn btn-primary" type=submit value=Register>-->
                        <button type = "submit" class = "btn btn-primary" > Register </button >
                    </div>
                </div >
<!--              <input type=submit value=Register>-->
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(function() {
            $('label').addClass('col-sm-4 control-label');
            $('input').addClass('form-control');
        });
    </script>
{% endblock %}

