<!doctype html>
<html>
<head>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sijax/sijax.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sijax/json2.js') }}"></script>
    <script>{{ g.sijax.get_js()|safe }}</script>
</head>

<body>
    <a href="javascript://" onclick="Sijax.request('say_hi','hello_from=fgfff');">Say Hi!</a><br>
    <a href="javascript://" onclick="Sijax.request('say_hello');">Say Bye!</a><br>
    <a href="javascript://" onclick="Sijax.request('change_color','data=88');">Change Color</a>
    <p id="show">sijax data: {{hello_from}}</p>
</body>
</html>