{% extends "base.html" %}
{% block head %}
    <link rel = "stylesheet" href = "{{url_for('static',filename='css/line.css')}}" >
    <script src="{{ url_for('static', filename='js/sijax/sijax.js') }}"></script>
<!--        <script src="{{ url_for('static', filename='js/sijax/json2.js') }}"></script>-->
    <script>{{ g.sijax.get_js()|safe }}</script>

   <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
   </script>
{% endblock %}

{% block title %}Testsijax{% endblock %}

{% block parameters %}

    <h3 class = "page-title" > Testsijax </h3 >
    <p class = "equation" > <span > Equation Expression: </span > <span > \(y = ax^2 + bx + c\) </span > </p >
    <form id="parameterForm" name="parameterForm" action = "" class="form-horizontal" method="POST">
       <div class = "form-container" >
           <div class = "form-group" >
                <label for="coordinate1" class="col-sm-2 control-label">a = </label>
                <div class="col-sm-10">
                    <input type = "text" class = "form-control" placeholder= "Input a value(int >=0)"  id="coordinate1"  name="coordinate1" >
                </div>
            </div >
            <div class = "form-group" >
                <label for="coordinate2" class="col-sm-2 control-label">b =</label>
                <div class="col-sm-10">
                    <input type = "text" class = "form-control" id="coordinate2" placeholder= "Input b value(int >=0)" name = "coordinate2" >
                </div>
            </div >
            <div class = "form-group" >
               <label for="coordinate3" class="col-sm-2 control-label">c =</label>
                <div class="col-sm-10">
                    <input type = "text" class = "form-control" id="coordinate3" placeholder= "Input r value(int >0)" name = "coordinate3" >
                </div>
            </div >
            <div class = "form-group" >
                <div class="col-sm-offset-2 col-sm-10">
                    <button type = "submit" class = "btn btn-primary" > Drawing </button >
                </div>
            </div >
            <p class = "equation" > <span > Real Expression: </span > <span id="expression"> \(y = ax^2 + bx + c\) </span > </p >
        </div>
    </form >

    <script type="text/javascript">
        $(function() {
            $('#parameterForm').bind('submit', function() {
                var values = Sijax.getFormValues(this);
                /*$.each( values, function( key, value ) {
                  alert( key + ": " + value );
                });*/
                var expressionB = "\\(y = ";
                var expressionStr = expressionB.concat(values["coordinate1"],"x^2 +",values["coordinate2"],"x +",values["coordinate3"],"\\)")

                //alert(expressionStr);
                $("#expression").get(0).innerHTML = expressionStr;
                //alert( $("#expression").get(0));
                //document.getElementById("expression").innerHTML = expressionStr;

                MathJax.Hub.Queue(["Typeset",MathJax.Hub,expression]);  //convert the equation to mathjax

                Sijax.request('draw_curve', [values]);
                return false;
            });
        });
   </script>
{% endblock %}

{% block graphic%}
    <img  id= "picture" src=""/>
{% endblock %}