<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}
    </script>
</head>

<body>
    <div id="messages" style="border: 1px solid #e0e0e0; margin-bottom: 20px; height: 100px; padding: 5px; overflow-y: scroll;"></div>

    <form id="messageForm" name="messageForm">
        Message: <input type="text" id="message" name="message" style="width: 400px"><br>
        <input type="text" id="message1" name="message1" style="width: 400px"><br>
        <input type="text" id="message2"  name="message2" style="width: 400px"><br>
        <input type="submit" value="Send">
        <button id="btnClear">Clear messages</button>
    </form>

    <script type="text/javascript">
    i=0
    $(function() {
        $('#messageForm').bind('submit', function() {
            //try to use Sijax.getFormValues('#messageForm');
            var values = Sijax.getFormValues('#messageForm');
            /*$.each( values, function( key, value ) {
              alert( key + ": " + value );
            });*/
            //$('#message1').attr('value', '44');
            //$('#message1').attr('value', values["message"]);
            Sijax.request('save_message', [values],
                { data: { csrf_token: "{{ csrf_token() }}" } });
            //i+=1;
            //ss = '';

            //$('#message1').attr('value', ss);
            //$('#message1').attr('value', '44');
            //$('#message2').attr('value', i);
            //Prevent the form from being submitted
            return false;
        });
        $('#message').focus();
        $('#btnClear').bind('click', function() {
            Sijax.request('clear_messages', [], { data: { csrf_token: "{{ csrf_token() }}" } });
            return false;
        });
    });
    </script>
</body>
</html>